{
  "presets": [
    ["@babel/preset-env", {
      "shippedProposals": true,
      "useBuiltIns": 'usage',
      "targets": {
        "browsers": "> 1%",
        "uglify": true
      }
    }]
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}
