{
  "presets": [
    ["@babel/preset-env", {
      "shippedProposals": true,
      "useBuiltIns": 'usage',
      "corejs": 3,
      "targets": { "browsers": "> 1%" }
    }],
    ["@babel/preset-react", {}]
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}

